<div class="col"  data-animate="fadeInUp" data-animate-delay="0" >
    <div class="icon-box mb-0">
        <img src="https://img.icons8.com/dusk/128/000000/city.png"/>

    </div>
    <h3>Collectivité</h3>
</div>