    <div class="heading-text border-box shadow" >
        <h4>
            Qu’est-ce-que MaPrimRénov ?
        </h4>
        <p class="text-justify">
            Lancée le 1er janvier 2020, MaPrimeRénov&#39; <b>remplace le crédit d’impôt pour la transition
                énergétique</b> (CITE) et les aides de l’Agence nationale de l’Habitat (Anah). C’est une aide de l’Etat qui
            permet de <b>financer les dépenses engagées pour les travaux d&#39;amélioration de la performance
                énergétique de votre logement</b>.
            Dans le cadre du Plan de relance de l&#39;économie, le dispositif est désormais <b>accessible à tous les
                propriétaires et à toutes les copropriétés</b>
        </p>
    </div>