<div class="heading-text border-box shadow">
    <h4>
        Qu’est-ce-que les <b>CEE</b> ?
    </h4>
    <p class="text-justify">
        Instaurée  par  l’État  le  13  juillet  2005,  la  loi  POPE  vise  à  <b>limiter  les  dépenses  énergétiques</b>.  Grâce  aux  certificats  accordées  dans  le  cadre  de  travaux  d’amélioration énergétique, les particuliers ainsi  que  les  professionnels  peuvent  désormais  bénéficier  d’un  logement  ou  d’un  établissement  limitant  les  déperditions énergétiques à moindre coût. <br><br>Les  «  <b>Certificats d’Economies d’Energie</b> » sont un document remis par les pouvoirs publics à l’obligé qui accompagne une opération d’efficacité énergétique chez un consommateur.<br><br>  Le  dispositif  des  CEE  repose  sur  <b>une obligation de réalisation d’économies d’énergie imposée par les pouvoirs publics aux vendeurs d’énergie appelés les « obligés ».</b>
    </p>
</div>