<div class="col"  data-animate="fadeInUp" data-animate-delay="0" >
    <div class="icon-box mb-0">
            <img src="https://img.icons8.com/dusk/128/000000/department.png"/>
    </div>
    <h3>Syndic de copropriété</h3>
</div>