<section id="prestation" class="pt-0">
    <div class="container">
        {#            Debut grid#}
        <div class="grid-filter text-center mt-5 mb-5" data-layout="#prestations" data-animate="fadeInUp" data-animate-delay="0">
            <ul>
                <li class="" id="pourTous"><a href="#" data-category="*"><img src="https://img.icons8.com/dusk/64/000000/conference.png"/><br> Toutes les prestations</a></li>
                <li class="" id="pourPros"><a data-category=".pros" href="#"><img src="https://img.icons8.com/dusk/64/000000/businessman.png"/><br>Pour les professionnels</a></li>
                <li class="" id="pourParticuliers"><a data-category=".particuliers" href="#"><img src="https://img.icons8.com/dusk/64/000000/user-male.png"/><br>Destinés aux particuliers</a></li>
            </ul>
        </div>
        <div id="prestations" class="grid-layout grid-4-columns pt-2 grid-loaded" data-margin="30" data-margin-xs="10" data-item="grid-item" data-layout="fitRows" data-animate="fadeInUp" data-animate-delay="0">
            {% include('prestationsBlock/isolationThermiqueInterieur.html.twig') %}
            {% include('prestationsBlock/isolationThermiqueExterieur.html.twig') %}
            {% include('prestationsBlock/economiseurDeau.html.twig') %}
            {% include('prestationsBlock/recuperateurChaleurGroupeFroid.html.twig') %}
        </div>

        {#            endGrid #}

    </div>
</section>