
<h2 class="text-center">Quel est votre statut ? </h2>
<div class="row text-center">
    <div class="col-lg-6 cursor pro" data-animate="fadeInUp" data-animate-delay="0" >
        <div class="icon-box mb-0">
            <img src="https://img.icons8.com/dusk/256/000000/businessman.png"/>
        </div>
        <h3>Professionnel</h3>
    </div>

    <div class="col-lg-6"  data-animate="fadeInUp" data-animate-delay="0" >
        <div class="icon-box mb-0">
            <a href="{{ path('particulier') }}"><img src="https://img.icons8.com/dusk/256/000000/user-male.png"/></a>
        </div>
        <a href="{{ path('particulier') }}"> <h3>Particulier</h3></a>
    </div>
</div>
