
<div class="row">
    <div class="col-lg-2"  data-animate="fadeInUp" data-animate-delay="0" >
        <div class="icon-box medium fancy">
            <div class="icon animated visible" > <a href="#"><i class="fa fa-key"></i></a> </div>
            <a href="#"><h3>Syndic de copropriété</h3></a>
        </div>
    </div>
    <div class="col-lg-2"  data-animate="fadeInUp" data-animate-delay="0" >
        <div class="icon-box medium fancy">
            <div class="icon animated visible" > <a href="#"><i class="fa fa-file"></i></a> </div>
            <a href="#"><h3>Bailleurs sociaux</h3></a>
        </div>
    </div>
    <div class="col-lg-2"  data-animate="fadeInUp" data-animate-delay="0" >
        <div class="icon-box medium fancy">
            <div class="icon animated visible" > <a href="#"><i class="fa fa-heartbeat"></i></a> </div>
            <a href="#"><h3>Organisme de santé</h3></a>
        </div>
    </div>
    <div class="col-lg-2"  data-animate="fadeInUp" data-animate-delay="0" >
        <div class="icon-box medium fancy">
            <div class="icon animated visible" > <a href="#"><i class="fa fa-user-tie"></i></a> </div>
            <a href="#"><h3>Secteur tertiaire</h3></a>
        </div>
    </div>
    <div class="col-lg-2"  data-animate="fadeInUp" data-animate-delay="0" >
        <div class="icon-box medium fancy">
            <div class="icon animated visible" > <a href="#"><i class="fa fa-handshake"></i></a> </div>
            <a href="#"><h3>Collectivité</h3></a>
        </div>
    </div>

    <div class="col-lg-2"  data-animate="fadeInUp" data-animate-delay="0" >
        <div class="icon-box medium fancy">
            <div class="icon animated visible" >
                <a href="#"><i class="fa fa-user"></i></a> </div>
            <a href="#"> <h3>Particulier</h3></a>
        </div>
    </div>
</div>