

<form id="wizard1" class="wizard">

    <h3>Vous êtes</h3>
    <div class="wizard-content">
        {% include('composantsPages/vousEtes.html.twig') %}
    </div>


    <h3>Vous êtes Pro</h3>
    <div class="wizard-content">
        {% include('composantsPages/vousEtesPro.html.twig') %}
    </div>


</form>
