<div class="">
    <div class="container mt-0 mb-0 text">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="type">Prénom</label>
                <select id="type" type="text" name="type" required="" class="form-control required">
                    <option value="Organisme de santé">Organisme de santé</option>
                    <option value="Syndic de copropriété">Syndic de copropriété</option>
                    <option value="Collectivité locale">Collectivité locale</option>
                    <option value="Bailleurs sociaux">Bailleurs sociaux</option>
                    <option value="Secteur tertiaire">Secteur tertiaire</option>
                    <option value="Particulier">Particulier</option>
                </select>

            </div>
            <div class="form-group col-md-6">
                <label for="fonction">Votre fonction</label>
                <input id="fonction" name="fonction" required="" class="form-control required">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="nb_batiment">Combien de bâtiments votre projet concerne t-il ?</label>
                <select id="nb_batiment" name="nb_batiment" required="" class="form-control required">
                    <option value="1-10">1-10</option><option value="11-20">11-20</option><option value="21-30">21-30</option><option value="31-40">31-40</option><option value="41-50">41-50</option><option value="Plus de 50">Plus de 50</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="age_batiment">Votre/Vos bâtiments ont-ils plus de 2 ans ? </label>
                <select id="age_batiment" name="age_batiment" required="" class="form-control required">
                    <option value="Oui"> Oui </option>
                    <option value="Non"> Non </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="chauffage_collectif">Votre/Vos bâtiments disposent-ils d'un mode de chauffage collectif?</label>
                <select id="chauffage_collectif" name="chauffage_collectif" required="" class="form-control required">
                    <option value="Oui"> Oui </option>
                    <option value="Non"> Non </option>
                </select>
            </div>
        </div>
    </div>
</div>