<div class="">
    <div class="container mt-0 mb-0 text">
        <div class="row">
            <div class="form-group text-center">
                <label>Date estimée du début du chantier</label>
                <div id="datetimepicker13"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="supplementaire">Avez-vous d'autres précisions concernant ce projet ? </label>
                <input id="supplementaire" name="supplementaire" required="" class="form-control">
            </div>
        </div>
    </div>
</div>