{% extends('prestations/sousPrestationTemplate.html.twig') %}

{% block prestation_title %}Isolation des combles{% endblock %}
{% block prestation_description %}Une maison, un bâtiment ou un local mal isolé favorise les déperditions thermiques et augmente par
    conséquent fortement les consommations de chauffage. Procéder à l&#39;isolation des combles
    permettra de réduire votre facture et de bénéficier à nouveau d&#39;un confort optimal.{% endblock %}
{% block fonctionnement %}Dans un premier temps, isoler ses combles est une étape clé dans la rénovation énergétique. En
    effet, pour améliorer la performance énergétique de vos bâtiments ainsi que celle de vos locaux, les
    travaux d’isolation de combles doivent être une priorité.<br><br>
    Un comble désigne l&#39;espace se trouvant entre la toiture et le dernier plancher d&#39;un bâtiment. Ils
    peuvent être définis comme &quot;combles perdus&quot; ou bien comme &quot;combles aménageable&quot;. En fonction
    de la configuration de vos lieux, différents types d&#39;isolations sont envisageables. La technique
    d&#39;isolation par soufflage ainsi que l&#39;isolation par &quot;rampants&quot;.{% endblock %}
{% block image_asset %}{{ asset('images/prestations/comble.jpg') }}{% endblock %}


{% block a_icon %}<img src="https://img.icons8.com/dusk/128/000000/bell-curve.png"/>{% endblock %}
{% block a %}Homogénéité{% endblock %}
{% block a_desc %}Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement réparties.{% endblock %}

{% block b_icon %}<img src="https://img.icons8.com/dusk/128/000000/delete-file.png"/>{% endblock %}
{% block b %}Aucune démarche{% endblock %}
{% block b_desc %}Vous n'aurez aucune démarche administrative à prévoir. {% endblock %}

{% block c_icon %}<img src="https://img.icons8.com/dusk/128/000000/economic-improvement.png"/>{% endblock %}
{% block c %}Valorisation du parc immobilier {% endblock %}
{% block c_desc %}L'isolation des combles apportera une plus-value notable à votre bien.{% endblock %}

{% block d_icon %}<img src="https://img.icons8.com/dusk/128/000000/leaf.png"/>{% endblock %}
{% block d %}Écologique{% endblock %}
{% block d_desc %}Réduire ses consommations d’énergies entraîne une diminution de la production des gaz à effet de serre. L'intervention s'inscrit dans une démarche écologique.{% endblock %}

{% block e_icon %}<img src="https://img.icons8.com/dusk/128/000000/layers.png"/>{% endblock %}
{% block e %}Double isolation{% endblock %}
{% block e_desc %}Cette technique permet dans un premier temps, d'améliorer votre isolation thermique mais également l'isolation acoustique de votre {% if client is defined %}maison{% else %}immeuble{% endif %}.{% endblock %}

{% block f_icon %}<img src="https://img.icons8.com/dusk/128/000000/gears.png"/>{% endblock %}
{% block f %}Entretien{% endblock %}
{% block f_desc %}L’amélioration de l’étanchéité de vos bâtiments à l'eau ainsi qu'à l'air permet une diminution du besoin en entretien.{% endblock %}

{% block g_icon %}<img src="{{ asset('images/cee128.jpg') }}"/>{% endblock %}
{% block g %}Eligible au programme de l'Etat{% endblock %}
{% block g_desc %}{% endblock %}

{% block h_icon %}<img src="{{ asset('images/maPrimRenov128.png') }}"/>{% endblock %}
{% block h %}MaPrimRénov'{% endblock %}
{% block h_desc %}Vous pouvez béneficier de maPrimRénov' si vous êtes particulier{% endblock %}

{% block beneficiaire %}
    {% include('composantsPages/sante.html.twig') %}
    {% include('composantsPages/bailleur.html.twig') %}
    {% include('composantsPages/particulier.html.twig') %}
{% endblock %}

{% block avantageSection %}
    <section class="p-t-100 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-text heading-gradient"  data-animate="fadeInUp" data-animate-delay="0" >
                        <h2><span>Avantages de cette prestation </span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row text-center">
                {% include('composantsPages/isolationGratuite.html.twig') %}
            </div>
        </div>
    </section>
{% endblock %}