
{% extends('base.html.twig') %}

    {% block content %}


        <section class="p-t-100 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading-text heading-gradient"  data-animate="fadeInUp" data-animate-delay="0" >
                            <h2><span>{% block prestation_title %} {% endblock %}</span></h2>
                            <p>{% block prestation_description %}{% endblock %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container"  data-animate="fadeInUp" data-animate-delay="0">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="heading-text heading-gradient"  data-animate="fadeInUp" data-animate-delay="0" >
                            <h4><span>Comment ça fonctionne ?</span></h4>
                            <p>{% block fonctionnement %} {% endblock %}</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image vertical-align">
                            <img src="{% block image_asset %}{% endblock %}">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-0">
            <div class="container">
                <div class="heading-text heading-gradient"  data-animate="fadeInUp" data-animate-delay="0" >
                    <h4><span>Quels sont les avantages ?</span></h4>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                        <div class="icon-box medium fancy">
                            <div class="icon animated visible" > <i class="fa fa-{% block a_icon %}key{% endblock %}"></i> </div>
                            <h3>{% block a %}Homogénéité {% endblock %}</h3>
                            <p>{% block a_desc %}Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement répartis.{% endblock %}</p>
                        </div>
                    </div>
                    <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                        <div class="icon-box medium fancy">
                            <div class="icon animated visible" > <i class="fa fa-{% block b_icon %}key{% endblock %}"></i> </div>
                            <h3>{% block b %}Homogénéité {% endblock %}</h3>
                            <p>{% block b_desc %}Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement répartis.{% endblock %}</p>
                        </div>
                    </div>
                    <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                        <div class="icon-box medium fancy">
                            <div class="icon animated visible" > <i class="fa fa-{% block c_icon %}key{% endblock %}"></i> </div>
                            <h3>{% block c %}Homogénéité {% endblock %}</h3>
                            <p>{% block c_desc %}Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement répartis.{% endblock %}</p>
                        </div>
                    </div>
                    <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                        <div class="icon-box medium fancy">
                            <div class="icon animated visible" > <i class="fa fa-{% block d_icon %}key{% endblock %}"></i> </div>
                            <h3>{% block d %}Homogénéité {% endblock %}</h3>
                            <p>{% block d_desc %}Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement répartis.{% endblock %}</p>
                        </div>
                    </div>
                    <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                        <div class="icon-box medium fancy">
                            <div class="icon animated visible" > <i class="fa fa-{% block e_icon %}key{% endblock %}"></i> </div>
                            <h3>{% block e %}Homogénéité {% endblock %}</h3>
                            <p>{% block e_desc %}Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement répartis.{% endblock %}</p>
                        </div>
                    </div>

                    <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                        <div class="icon-box medium fancy">
                            <div class="icon animated visible" > <i class="fa fa-{% block f_icon %}key{% endblock %}"></i> </div>
                            <h3>{% block f %}Homogénéité {% endblock %}</h3>
                            <p>{% block f_desc %}Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement répartis.{% endblock %}</p>
                        </div>
                    </div>
                    <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                        <div class="icon-box medium fancy">
                            <div class="icon animated visible" > <i class="fa fa-{% block g_icon %}key{% endblock %}"></i> </div>
                            <h3>{% block g %}Homogénéité {% endblock %}</h3>
                            <p>{% block g_desc %}Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement répartis.{% endblock %}</p>
                        </div>
                    </div>

                    <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                        <div class="icon-box medium fancy">
                            <div class="icon animated visible" > <i class="fa fa-{% block h_icon %}key{% endblock %}"></i> </div>
                            <h3>{% block h %}Homogénéité {% endblock %}</h3>
                            <p>{% block h_desc %}Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement répartis.{% endblock %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
