{% extends('prestations/pagePrestationsTemplate.html.twig') %}

{% block prestation_title %}Pompe à chaleur{% endblock %}
{% block prestation_description %}La pompe à chaleur est un système de chauffage et de climatisation. Il en existe une grande variété
    de modèle ce qui fait de la pompe à chaleur un système capable de convenir à tous les types de
    logements :
<ul class="list-icon list-icon-arrow list-icon-colored">
    <li>Pompe à chaleur air-air</li>
    <li>Pompe à chaleur air-eau</li>
    <li>Pompe à chaleur géothermique</li>
    <li>Pompe à chaleur hydrothermique</li>
</ul>{% endblock %}
{% block fonctionnement %}Le principe est simple, il s’agit de récupérer la chaleur du sol ou de l’air extérieur pour la restituer à
    l’intérieur.{% endblock %}
{% block image_asset %}{{ asset('images/prestations/pompeAChaleur.jpg') }}{% endblock %}


{% block a_icon %}<img src="https://img.icons8.com/dusk/128/000000/return.png"/>{% endblock %}
{% block a %}Réversibles{% endblock %}

{% block b_icon %}<img src="https://img.icons8.com/dusk/128/000000/profit.png"/>{% endblock %}
{% block b %}Economies d'énergie{% endblock %}

{% block c_icon %}<img src="https://img.icons8.com/dusk/128/000000/easy.png"/>{% endblock %}
{% block c %}Facile d'installation{% endblock %}

{% block d_icon %}<img src="{{ asset('images/cee128.jpg') }}"/>{% endblock %}
{% block d %}Eligible au programme de l'Etat{% endblock %}
{% block d_desc %}{% endblock %}

{% block e_icon %}<img src="{{ asset('images/maPrimRenov128.png') }}"/>{% endblock %}
{% block e %}MaPrimRénov'{% endblock %}
{% block e_desc %}Vous pouvez béneficier de maPrimRénov' si vous êtes particulier{% endblock %}

{% block beneficiaire %}
    {% include('composantsPages/particulier.html.twig') %}
{% endblock %}

