<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                <div class="icon-box medium fancy">
                    <div class="icon animated visible" > <i class="fa fa-key"></i> </div>
                    <h3>Homogénéité</h3>
                    <p>Avec l'isolation de vos combles, les températures dans tous vos bâtiments seront équitablement répartis.</p>
                </div>
            </div>
            <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                <div class="icon-box medium fancy">
                    <div class="icon animated visible" > <i class="fa fa-comment-slash"></i></div>
                    <h3>Aucune démarche</h3>
                    <p>Vous n'aurez aucune démarche administrative à prévoir. </p>
                </div>
            </div>
            <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                <div class="icon-box medium fancy">
                    <div class="icon animated visible" > <i class="fa fa-fire"></i></div>
                    <h3>Ignifugé</h3>
                    <p>Tous les matériaux utilisés pour l'intervention sont 100% ignifugés.</p>
                </div>
            </div>
            <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                <div class="icon-box medium fancy">
                    <div class="icon animated visible" > <i class="fa fa-building"></i></div>
                    <h3>Valorisation du parc immobilier</h3>
                    <p>L'isolation des combles apportera une plus-value notable à votre bien.</p>
                </div>
            </div>
            <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                <div class="icon-box medium fancy">
                    <div class="icon animated visible" > <i class="fa fa-leaf"></i></div>
                    <h3>Écologique </h3>
                    <p>Réduire ses consommations d’énergies entraîne une diminution de la production des gaz à effet de serre. L'intervention s'inscrit dans une démarche écologique</p>
                </div>
            </div>

            <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                <div class="icon-box medium fancy">
                    <div class="icon animated visible" >
                        <i class="fa fa-check-double"></i></div>
                    <h3>Double isolation</h3>
                    <p>Cette technique permet dans un premier temps, d'améliorer votre isolation thermique mais également l'isolation acoustique de votre immeuble.</p>
                </div>
            </div>
            <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                <div class="icon-box medium fancy">
                    <div class="icon animated visible" > <i class="fa fa-gears"></i></div>
                    <h3>Entretien</h3>
                    <p>L’amélioration de l’étanchéité de vos bâtiments à l'eau ainsi qu'à l'air permet une diminution du besoin en entretien.</p>
                </div>
            </div>

            <div class="col-lg-3"  data-animate="fadeInUp" data-animate-delay="0" >
                <div class="icon-box medium fancy">
                    <div class="icon animated visible" >
                        <i class="fa fa-flag"></i></div>
                    <h3>Éligible au programme d'Etat</h3>
                    <p>Ce procédé est entièrement pris en charge dans le cadre du programme des CEE.</p>
                </div>
            </div>
        </div>
    </div>
</section>