<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div class="widget-title">Clearnet Energie</div>
                        <h2>Nous contacter</h2>
                        <p class=""><span class="fa fa-phone-alt"></span> Nettoyage : 01.77.37.07.93  </p>
                        <p class=""><span class="fa fa-mail-bulk"></span> nettoyage@clearnet-energie.fr   </p>
                        <br>
                        <p class=""><span class="fa fa-phone-alt"></span> Isolation : 01.77.37.07.93 </p>
                        <p class=""><span class="fa fa-mail-bulk"></span> contact@clearnet-energie.fr </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="widget">
                                <div class="widget-title">Nos Prestations</div>
                                <ul class="list">
                                    <li><a href="#">
                                            Isolation des murs intérieurs</a></li>
                                    <li><a href="#">Pompe à chaleur</a></li>
                                    <li><a href="#">Isolation des combles et sous-rampants</a></li>
                                    <li><a href="#">Isolation des murs extérieurs</a></li>
                                    <li><a href="#">Isolation des sous-sols et garages</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="widget">
                                <div class="widget-title">Suivez nous !</div>
                                <ul class="list">
                                    <li><a href="#" class="btn btn-facebook"><span class="fa fa-facebook"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">
                © Copyright {{ 'now' | date('Y') }} Clearnet - Made By <a href="https://cadarsir.fr"> Cadarsir </a>
            </div>
        </div>
    </div>
</footer>