<div id="rev_slider_263_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="bubble-morph" data-source="gallery" style="background:transparent;padding:0px;">

    <div id="rev_slider_263_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7.4">
        <ul>

            <li data-index="rs-638" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://localhost/wordpress/wp-content/" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <img src="plugins/slider-revolution/assets/images/transparent.png" data-bgcolor='#ffffff' style='background:#ffffff' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                <div id="rrzm_638" class="rev_row_zone rev_row_zone_middle" style="z-index: 8;">

                    <div class="tp-caption  " id="slide-638-layer-2" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-426','-426','-426','-426']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="row" data-columnbreak="3" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[100,75,50,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,75,50,30]" style="z-index: 8; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

                        <div class="tp-caption  " id="slide-638-layer-3" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="column" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-columnwidth="100%" data-verticalalign="top" data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; width: 100%;">

                            <div class="tp-caption  " id="slide-638-layer-18" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','40','30']" data-lineheight="['100','100','80','70']" data-width="['100','100','80','70']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+90","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; min-width: 100px; max-width: 100px; white-space: normal; font-size: 60px; line-height: 100px; font-weight: 400; color: #ffffff; letter-spacing: 0px; display: inline-block;font-family:Open Sans;background:linear-gradient(45deg, rgb(0,50,80) 0%, rgb(35,164,85) 100%);border-radius:50px 50px 50px 50px;"><i class="fa fa-icon-leaf"></i> </div>

                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-638-layer-19" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="full" data-height="['30','30','20','10']" data-whitespace="normal" data-type="shape" data-responsive_offset="on" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 19; display: block;"> </div>

                            <div class="tp-caption bm-gradient3" id="slide-638-layer-1" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-fontsize="['46','46','36','30']" data-lineheight="['50','50','40','35']" data-width="none" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+190","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']"  style="z-index: 11; white-space: normal; font-size: 46px; line-height: 50px; font-weight: 900; color: #000000; letter-spacing: 0px; display: block;font-family:Open Sans;padding : 10px 0 ">Agissons ensemble pour la transition énergétique </div>

                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-638-layer-11" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="full" data-height="10" data-whitespace="normal" data-type="shape" data-responsive_offset="on" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16; display: block;"> </div>

                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-638-layer-13" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="full" data-height="['30','30','30','20']" data-whitespace="normal" data-type="shape" data-responsive_offset="on" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17; display: block;"> </div>

                            <div class="tp-caption  " id="slide-638-layer-6" data-x="['left','left','left','left']" data-hoffset="['10','10','10','10']" data-y="['top','top','top','top']" data-voffset="['10','10','10','10']" data-fontsize="['22','22','22','18']" data-lineheight="['30','30','30','22']" data-width="['640','480','360','100%']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+390","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13; min-width: 640px; max-width: 640px; white-space: normal; font-size: 23px; line-height: 30px; font-weight: 400; color: rgb(0,50,80); letter-spacing: 0px; display: inline-block;font-family: 'Catamaran', sans-serif;">Spécialisé dans la rénovation énergétique, Clearnet vous accompagne dans vos travaux grâce aux
                                aides financières de l’Etat.
                                </div>

                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-638-layer-14" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="full" data-height="['50','50','50','30']" data-whitespace="normal" data-type="shape" data-responsive_offset="on" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18; display: block;"> </div>

{#                            <a class="tp-caption rev-btn " href="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923" target="_blank" id="slide-638-layer-9" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-fontsize="['14','14','13','13']" data-lineheight="['60','60','50','40']" data-width="['280','280','250','250']" data-height="none" data-whitespace="normal" data-type="button" data-actions='' data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgb(35,164,85);bg:rgb(255,255,255);"}]' data-margintop="[0,0,0,0]" data-marginright="[10,10,10,10]" data-marginbottom="[10,10,10,10]" data-marginleft="[10,10,10,10]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; min-width: 280px; max-width: 280px; white-space: normal; font-size: 14px; line-height: 60px; font-weight: 700; color: #ffffff; letter-spacing: 2px; display: inline-block;font-family:Open Sans;background-color:rgb(35,164,85);border-color:rgb(53,165,90);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"></a>#}

{#                            <a class="tp-caption rev-btn " href="http://codecanyon.net/item/slider-revolution-responsive-wordpress-plugin/2751380?ref=themepunch&license=regular&open_purchase_for_item_id=2751380&purchasable=source" target="_blank" id="slide-638-layer-17" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-fontsize="['14','14','13','13']" data-lineheight="['60','60','50','40']" data-width="['280','280','250','250']" data-height="none" data-whitespace="normal" data-type="button" data-actions='' data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgb(35,164,85);bg:rgb(255,255,255);"}]' data-margintop="[0,0,0,0]" data-marginright="[10,10,10,10]" data-marginbottom="[10,10,10,10]" data-marginleft="[10,10,10,10]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15; min-width: 280px; max-width: 280px; white-space: normal; font-size: 14px; line-height: 60px; font-weight: 700; color: #ffffff; letter-spacing: 2px; display: inline-block;font-family:Open Sans;background-color:rgb(53,164,90);border-color:rgb(35,163,85);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"></a>#}
                        </div>
                    </div>
                </div>

                <div class="tp-caption tp-shape tp-shapewrapper tp-bubblemorph " id="slide-638-layer-21" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="100%" data-height="100%" data-whitespace="nowrap" data-type="shape" data-bubblesbg="transparent" data-numbubbles="6|6|6|6" data-bubblesbufferx="100|100|100|100" data-bubblesbuffery="100|100|100|100" data-bubblesspeedx="0.25|0.25|0.25|0.25" data-bubblesspeedy="0.25|0.25|0.25|0.25" data-bubblesbordercolor="#23A455|#23A455|#23A455|#23A455" data-bubblesbordersize="1|1|1|1" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":100,"speed":3000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-blendmode="multiply" style="z-index: 5;"> </div>

                <div class="tp-caption  tp-no-events tp-shape tp-shapewrapper tp-bubblemorph " id="slide-638-layer-16" data-x="['center','center','center','center']" data-hoffset="['-650','-450','200','100']" data-y="['middle','middle','bottom','bottom']" data-voffset="['150','150','0','0']" data-width="['700','400','500','300']" data-height="['700','450','300','200']" data-whitespace="nowrap" data-type="shape" data-bubblesbg="{&type&:&linear&,&angle&:&180&,&colors&:[{&r&:3,&g&:63,&b&:99,&a&:&1&,&position&:0,&align&:&top&},{&r&:0,&g&:50,&b&:80,&a&:&1&,&position&:0,&align&:&bottom&},{&r&:79,&g&:0,&b&:246,&a&:&1&,&position&:100,&align&:&bottom&},{&r&:79,&g&:0,&b&:246,&a&:&1&,&position&:100,&align&:&top&}]}" data-numbubbles="6|6|inherit|6" data-bubblesbufferx="100|50|inherit|20" data-bubblesbuffery="100|50|inherit|20" data-bubblesspeedx="0.25|0.25|0.25|0.25" data-bubblesspeedy="0.25|0.25|0.25|0.25" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"opacity:0;fb:30px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background:linear-gradient(180deg, rgb(3,63,99) 0%, rgb(0,50,80) 100%);pointer-events:none;"> </div>

                <div class="tp-caption  tp-no-events tp-shape tp-shapewrapper tp-bubblemorph " id="slide-638-layer-10" data-x="['center','center','center','center']" data-hoffset="['-600','-400','-200','-100']" data-y="['middle','middle','bottom','bottom']" data-voffset="['-150','-150','0','0']" data-width="['700','400','500','300']" data-height="['700','450','300','200']" data-whitespace="nowrap" data-type="shape" data-bubblesbg="{&type&:&linear&,&angle&:&180&,&colors&:[{&r&:35,&g&:164,&b&:85,&a&:&1&,&position&:0,&align&:&top&},{&r&:10,&g&:180,&b&:74,&a&:&1&,&position&:0,&align&:&bottom&},{&r&:6,&g&:111,&b&:48,&a&:&1&,&position&:100,&align&:&bottom&},{&r&:0,&g&:255,&b&:230,&a&:&1&,&position&:100,&align&:&top&}]}" data-numbubbles="6|6|inherit|6" data-bubblesbufferx="100|50|inherit|20" data-bubblesbuffery="100|50|inherit|20" data-bubblesspeedx="0.25|0.25|0.25|0.25" data-bubblesspeedy="0.25|0.25|0.25|0.25" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":1500,"speed":3000,"frame":"0","from":"opacity:0;fb:30px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-blendmode="multiply" style="z-index: 7;background:linear-gradient(180deg, rgb(35,164,85) 0%, rgb(6,111,48) 100%);pointer-events:none;"> </div>
            </li>

        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</div>

<script type="text/javascript">
    var revapi263,
        tpj;
    (function () {
        if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad);
        else onLoad();

        function onLoad() {
            if (tpj === undefined) {
                tpj = jQuery;
                if ("off" == "on") tpj.noConflict();
            }
            if (tpj("#rev_slider_263_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_263_1");
            } else {
                revapi263 = tpj("#rev_slider_263_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "plugins/slider-revolution/js/",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "on",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            touchOnDesktop: "off",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        },
                        bullets: {
                            enable: true,
                            hide_onmobile: false,
                            style: "hermes",
                            hide_onleave: false,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 20,
                            space: 5,
                            tmp: ''
                        }
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [868, 768, 960, 720],
                    lazyType: "none",
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAutoWidth: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }; /* END OF revapi call */
            BubbleMorphAddOn(jQuery, revapi263, false)
        }; /* END OF ON LOAD FUNCTION */
    }()); /* END OF WRAPPING FUNCTION */
</script>