<div class="col text-center pt-1" data-animate="fadeInUp" data-animate-delay="0" data-toggle="popover" data-trigger="hover" data-placement="top"  data-content="<p>Cette prestation est entièrement pris en charge dans le cadre du programme des CEE.</p>">
    <img src="{{ asset('images/cee128.jpg')}}"/>
    <h4 class="pt-4">Éligible aux CEE</h4>
    <p class="d-xl-none d-lg-block pb-0">Cette prestation est entièrement pris en charge dans le cadre du programme des CEE.</p>
</div>