<div class="text-center text">

        <div class="h4 mb-4">Combien de personnes composent votre foyer, vous compris ? </div>
    <div>
        <div class="choice-row">
            <div class="form-group">
                <div class="number-input">
                    <a class="btn btn-light" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" > - </a>
                    <input class="quantity" min="1" name="quantite_personne" value="1" type="number">
                    <a class="btn plus btn-light" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"> + </a>
                </div>
            </div>
        </div>
    </div>
</div>